/***** MODERN CSS RESET RULES ****/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  transition: all 0.3s ease;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
  font-size: 1.2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
}
[data-theme="dark"] {
  --color-bg: #000000;
  --color-fg: #ffffff;
  --color-border: #242424e1;
}
[data-theme="light"] {
  --color-bg: #ffffff;
  --color-fg: #000000;
  --color-border: #24242431;
}
[theme="low"] {
  --color-bg: #0c0f24ea;
  --color-fg: #889468e7;
  --color-border: #dacfcf10;
  opacity: 0.9;
}
[theme="mid"] {
  --color-bg: #0c0f24ea;
  --color-fg: #889468e7;
  --color-border: #dacfcf4f;
  opacity: 0.7;
}
[theme="high"] {
  --color-bg: #0c0f247a;
  --color-fg: #000000;
  --color-border: #dacfcfd7;
  opacity: 0.5;
}
/***** MAIN STYLES *****/
body {
  background-color: var(--color-bg);
  color: var(--color-fg);
}
body.mid-theme {
  background-color: #242424 !important;
  color: coral !important;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3em;
  border-bottom: 1px solid var(--color-border);
  background-color: var(--color-border);
}
.select {
  font-size: 12px;
  font-weight: 800;
  color: black;
  box-shadow: 0 -2px 5px 0px #fefefe, 0 2px 5px 0 #ccc;
  background: rgb(110, 115, 237);
  background: -webkit-linear-gradient(
    top,
    #ddd 0%,
    #ddd 30%,
    #eee 82%,
    #efefef 100%
  );
  background: -moz-linear-gradient(
    top,
    #ddd 0%,
    #ddd 30%,
    #eee 82%,
    #efefef 100%
  );
  background: linear-gradient(top, #ddd 0%, #ddd 30%, #eee 82%, #efefef 100%);
  border: solid 3px #c5c5c5;
  padding: 5px;
  border-radius: 50%;
  cursor: hand;
}

.selected {
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    #fff 0%,
    #03f0c1 80%,
    #1daee6 100%
  );
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    #fff 0%,
    #03f0c1 80%,
    #1daee6 100%
  );
  background: radial-gradient(
    center,
    ellipse cover,
    #fff 0%,
    #03f0c1 80%,
    #1daee6 100%
  );
  box-shadow: inset 0 1px 1px 0 #fff, inset 0 -1px 1px 0 #fff,
    0 0 2px 1px #74f9ff;
  border: solid 1px #05d6b5;
}
.off {
  position: absolute;
  left: 5px;
  bottom: -36px;
}
.one {
  position: absolute;
  left: -22px;
  top: -12px;
}

.two {
  position: absolute;
  top: -36px;
  left: 17px;
}

.three {
  position: absolute;
  top: -12px;
  left: 56px;
}
.switch-container {
  position: relative;
  margin: 50px;
  border-radius: 50%;
  position: relative;
  width: 60px;
  height: 60px;
  background: linear-gradient(#ece9e948, #cacaca 30%, #f4f4f456, #535353 153%);
}

.switch {
  border-radius: 50%;
  position: absolute;
  left: 7px;
  top: 7px;
  bottom: 7px;
  right: 7px;
  margin: 0px;
  background: linear-gradient(
    90deg,
    #636068,
    #242424 43%,
    #474747 44%,
    #474747 56%,
    #7a7a7a 57%,
    #5a5a5a 68%
  );
  box-shadow: inset 0 1px 1px 1px #39373c, 0 0 1px 1px #69696a;
  border: solid 1px #7e7e7e;
  transform: rotate(180deg);
  /* transition: .5s; */
}

.switch:hover {
  transform: rotate(-25deg);
}

.switch:before {
  display: block;
  content: "";
  width: 2px;
  height: 35%;
  background: #fff;
  box-shadow: 0 0 1px 1px rgba(255, 255, 255, 0.12);
  margin: 5px auto;
}
.main-container {
  padding: 2em;
}
a.button {
  margin-top: 2rem;
  border: 1px solid;
  color: var(--color-fg);
  opacity: 0.6;
  padding: .5rem 1.5rem;
  border-radius: 5px;
  background: transparent;
  &:hover {
    opacity: 1;
  }
}
#themeToggle {
  cursor: pointer;
  background: transparent;
  border: none;
}
button img {
  background-color: rgb(255, 0, 0);
}
